.footer-container {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 1.5rem;
  width: 100%;
  height: 94px;
}
.footer-container .footer-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 25px;
  margin-left: 15px;
  margin-right: 20px;
}
.footer-container .footer-container__social {
  width: 13%;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
}
