@use "colors" as *;

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  background-color: $bgColor;
  color: $textColor;
  font-size: 1.5rem;
}

.navbar-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-link {
  margin-right: 20px;
  color: $textColor;
  text-decoration: none;
}

.navbar a {
  margin-right: 20px;
  color: $textColor;
  text-decoration: none;
  &:hover {
    color: $hoverOver;
  }
}

.admin-panel {
  font-weight: bold;
  color: red;
  margin-right: 20px;
}

.order-now {
  background-color: $primaryColor;
  padding: 12px 12px 12px 18px;
  border-radius: 20px;
}