@use "colors" as *;
@use "colors" as *;

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

//flexbox setup
$flex-direction: column;
$justfy-content: center;
$align-items: center;

@mixin flex-container($flex-direction, $justfy-content, $align-items) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: $flex-direction;
  flex-direction: $flex-direction;
  -webkit-box-pack: $justfy-content;
  -ms-flex-pack: $justfy-content;
  justify-content: $justfy-content;
  -webkit-box-align: $align-items;
  -ms-flex-align: $align-items;
  align-items: $align-items;
}

body {
  @include flex-container(row, center, center);
  background-color: $bgColor;
  height: 100vh;
}

#loginForm {
  @include flex-container(column, center, center);
  background-color: $textColor;
  width: 480px;
  height: 854px;
  border-radius: 30px;
  .loginHeader {
    font-size: 40px;
    margin-bottom: 56px;
  }
  .form {
    @include flex-container(column, center, center);

    .input-container,
    #role {
      width: 376px;
      height: 48px;
      border: 1px solid #5d5d5d;
      border-radius: 8px;
      padding: 16px 30px 10px 24px;
      margin-bottom: 10px;
    }

    .btnSignIn {
      width: 375px;
      height: 49px;
      border-radius: 4px;
      margin-top: 32px;
      padding: 12px 18px;
      font-size: 16px;
      font-weight: 500;
      border: none;
      background-color: #3b71ca;
      color: $textColor;
      cursor: pointer;
      &:hover {
        background-color: $primaryColor;
      }
    }

    .error-message {
      color: red;
      font-size: 14px;
      margin-bottom: 10px;
    }

    .roleOption {
      color: #797979;
      background-color: $textColor;
    }
  }

  #footer {
    font-size: 12px;
    line-height: 14px;
    margin: 32px 0px;
    a {
      text-decoration: none;
      color: $bgColor;
      font-weight: 700;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
