body {
  display: none;
}

.rectangle-black-header {
  height: 742px;
  width: 100%;
  background-color: black;
}

.flex-container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
}

.pink-bear-home-page {
  height: 296.2px;
  width: 524px;
  padding-left: 120px;
  padding-top: 120px;
}

.pink-bear-h1 {
  font-size: 3rem;
  color: #ffc0cb;
  text-align: center;
  padding-top: 120px;
}

.flex-container {
  background-color: #d9d9d9;
  height: 1144px;
  margin-left: 15%;
  margin-right: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.rectangle-pink-img-container {
  margin-top: 300px;
  height: 429.5px;
  width: 558px;
  background-color: #ffc0cb;
  -webkit-box-shadow: 10px 10px 4px rgba(4, 21, 37, 0.74);
  box-shadow: 10px 10px 4px rgba(4, 21, 37, 0.74);
}

.rectangle-pink-img-container img {
  height: 390px;
  width: 520px;
  padding: 20px;
}

.main-title {
  margin-top: 330px;
  margin-left: 150px;
  text-align: center;
  border-left: 4px solid #00ffff;
  font-size: 2rem;
}

p {
  text-align: center;
  padding-left: 140px;
  font-size: 1.5rem;
  margin-bottom: 50px;
}

.book-a-table-btn {
  height: 84px;
  width: 386px;
  color: white;
  font-size: 2rem;
  border: none;
  border-radius: 20px;
  background-color: #00ffff;
  padding: 12px 12px 12px 18px;
  margin-left: 40%;
}

@media only screen and (min-width: 200px) and (max-width: 1400px) {
  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .rectangle-pink-img-container {
    margin-top: 90px;
  }
  .main-title {
    margin-top: 50px;
    text-align: center;
    border-left: 4px solid #00ffff;
  }
  .book-a-table-btn {
    height: 84px;
    width: 286px;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 20px;
    background-color: #00ffff;
    padding: 12px 12px 12px 18px;
    margin-left: 45%;
  }
}
